<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hello Blazor</a>
    <button class="navbar-toggler" >
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <img src="mallorca.jpg" class="img-fluid"/>
</div>

